h1 {
    color: rgb(76, 76, 76);
    font-family: Inter;
    font-size: 80px;
    font-weight: 300;
    line-height: 97px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 200px;
}

img {
    margin-left: 50px;
    margin-top: 50px;
    width: 90px;
    height: 60px;
}